

.kickass-logo {
  display: flex;
  justify-content:center;
  align-items:center;
height: 300px;
justify-content: space-around;
padding-left:70px ;
padding-right: 70px;
margin-top: 9em;
}


.profil1{
  height: 20%;
  width: 25%;

    }

.profil2{
  height: 65%;
  width: 15%;
padding-left: 3em;
}

.profil3{
  height: 40%;
  width: 20%;
  padding-left: 3em;
}
.profil4{
  height: 30%;
  width: 30%;
  padding-left: 3em;
}

.kickass-h2 {

background-color: #fafafa;
text-align: center;

}
.titre{
  font-size: 20px;
  text-align: center;
  font-family:cursive;
color: darkred ;
}
.kickass-logo{
    animation: jump 6s ease 0s normal;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes elastic {
  0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }
    60% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }
    90% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
