

.kickass-logo {
  display: flex;
  justify-content:center;
  align-items:center;
height: 300px;
justify-content: space-around;
padding-left:70px ;
padding-right: 70px;
margin-top: 4em;

}


.profil1{
  height: 35%;
  width: 15%;

    }

.profil2{
  height: 28%;
  width: 32%;
padding-left: 2em;
}

.profil3{
  height: 30%;
  width: 29%;
  padding-left: 2em;
}
.profil4{
  height: 55%;
  width: 20%;
  padding-left: 2em;
}
.titre{
  font-size: 20px;
  text-align:center;
  font-family:cursive;
color: darkred;
padding: 10px;
transition-duration: 1s;
transition-delay: 0,5s;
}
.titre :hover,.titre :focus {
  color: #00BFFF;
  transition-duration: 0,5s;

}
.kickass-logo{
    animation: jump 6s ease 0s normal;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes elastic {
  0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }
    60% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }
    90% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
