@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

*, p{
  font-family: 'Roboto', sans-serif;
}

.container-principal{
  width:100%;
}

.container{
  width:80%;
  margin:auto;
}

.kickass-h1{
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size: 40px;
  color:#000000;
}

.kickass-h2{
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  text-transform: uppercase;
  font-size: 40px;
  color:#000000;
}

.kickass-h3{
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size: 18px;
  color:#000000;
}

.kickass-h4{
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size: 16px;
  color:#000000;
}

.kickass-p{
  font-family: 'Roboto', sans-serif;
  color:#000000;
  font-size: 16px;
}

.kickass-p-bold{
  font-family: 'Roboto', sans-serif;
  color:#000000;
  font-size: 16px;
  font-weight:400;
}

.kickass-btn{
  background: #39A6FF;
  border:none;
  padding:10px;
  color:#FFFFFF;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}
